<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fishing Slide Show</title>
    <link rel="stylesheet" href="css/project.css">
</head>
<body>
    <main>
        <h1>Fishing Slide Show</h1>

        <ul id="image_list">
            <li><a href="images/BlueFish.png" title="Blue"></a></li>
            <li><a href="images/RedFish.webp" title="Red"></a></li>
            <li><a href="images/GreenFish.webp" title="Green"></a></li>
            <li><a href="images/YellowFish.webp" title="Yellow"></a></li>
        </ul>
    
        <p><img id="main_image" src="images/BrownFish.png" alt="Brown"></p>
        <h2 id="caption">Brown</h2>    

        <script src="js/slide-show.js"></script>
    </main>  
</body>
</html>